<h1>Vinoteca</h1>
<!-- <app-winelist #wineList></app-winelist>
<app-winenew (wineNew)="wineList.onNew()"></app-winenew> -->

<div class="nav">
  <span> <a routerLink="/login" routerLinkActive="active"> Login </a> </span>
  <span>
    <a routerLink="/register" routerLinkActive="active"> Register </a>
  </span>
  <span>
    <a routerLink="/wines/list" routerLinkActive="active"> Wine List </a>
  </span>
  <span>
    <a routerLink="/wines/create" routerLinkActive="active"> Create Wine </a>
  </span>
</div>
<app-winelist></app-winelist>
<app-winenew></app-winenew>
