<h3>{{ message }}</h3>
<div class="form-group">
  <form (ngSubmit)="login()" [formGroup]="loginForm">

    <!-- User name -->
    <div class="user-name">
      <input type="text" placeholder="Nom d'usuari" name="username" formControlName="username" required>
      <div *ngIf="(loginForm.controls['username'].dirty || message) && loginForm.controls['username']?.invalid">      
        El nom d'usuari és obligatori
      </div>
    </div>

    <!-- Password -->
    <div class="password">
      <input type="password" placeholder="Contrasenya" required name="password" formControlName="password">
      <div *ngIf="(loginForm.controls['password'].dirty || message) && loginForm.controls['password']?.invalid">      
        La contrasenya és obligatòria
      </div>
    </div>

    <!-- Submit -->
    <button type="submit">Accedir</button>
    
  </form>
</div>
