.wine-details {
  padding: 1rem;
  background-color: var(--beige);
  margin: 2rem 0;
}
.wine-details-name {
  color: var(--dark-beige)
}
.wine-details-food-title {
  margin-bottom: .5rem;
}
.wine-details-price {
  font-size: 2rem;
}
